{% extends 'admin_base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
    
    <div class="mb-3">
        {{ form_label(registrationForm.nom, 'Nom') }}
        {{ form_widget(registrationForm.nom, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.prenom, 'Prénom') }}
        {{ form_widget(registrationForm.prenom, { 'attr': {'class': 'form-control'} }) }}
    </div>


    <div class="mb-3">
        {{ form_label(registrationForm.email, 'Email') }}
        {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.password, 'Mot de passe') }}
        {{ form_widget(registrationForm.password, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-check mb-3">
        {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input'} }) }}
        {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions', { 'attr': {'class': 'form-check-label'} }) }}
    </div>

    <button type="submit" class="btn btn-boutton">S'inscrire</button>
    
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
