{% extends 'base.html.twig' %}

{% block title %}{{ category.nom }}{% endblock %}

{% block body %}
<div class="container my-5">
    <h2 class="text-center">🛍 Produits de la catégorie {{ category.nom }}</h2>
    <div class="row">
        {% for product in category.products %}
            <div class="col-md-4 my-3">
                <div class="card">
                   <img src="{{ asset('uploads/images/' ~ product.image) }}" class="card-img-top" alt="{{ product.nom }}">

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.nom }}</h5>
                        <p class="fw-bold">{{ product.prix }}€</p>
                        <a href="{{ path('product_show', { id: product.id }) }}" class="btn btn-boutton">Voir plus</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">Aucun produit disponible dans cette catégorie.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}