<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text><text y='1.3em' x='0.2em' font-size='76' fill='#fff'>sf</text></svg>">

    {% block stylesheets %}
    <style>
        .product-img {
            max-width: 100px;
            max-height: 100px;
            object-fit: cover;
            display: block;
            margin: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        .action-links {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .action-links a {
            text-decoration: none;
            color: blue;
            font-weight: bold;
        }

        .action-links form {
            display: inline;
        }

        .delete-btn {
            background-color: red;
            color: white;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
    {% endblock %}
</head>
<body>

    {% block body %}
    <nav>
        <a href="{{ path('cart_show') }}">🛒 Voir le Panier</a>
    </nav>

    {% if app.user %}
        <p>Connecté en tant que : {{ app.user.email }}</p>
        <p>Rôles : {{ app.user.roles|join(', ') }}</p>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <p>Non connecté</p>
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</body>
</html>
